.page {
  align-items: center;
  flex-direction: column;
  background-color: #8eafe2;
}
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 90;
  font-weight: bold;
}
.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  text-align: center;
  color: #f6ef87;
}
.sub-header {
  horizontal-align: center;
  font-size: 15;
  margin-bottom: 70;
  text-align: center;
  color: #f6ef87;
  text-transform: uppercase;
}

.page .input-field {
  margin-bottom: 25;
}
.input-field .input {
  font-size: 18;
  placeholder-color: #FFFFFF;
  color: #FFFFFF;
}
.input:disabled {
  background-color: white;
  opacity: 0.5;
}

.btn-primary {
  margin: 30 5 15 5;
}

.login-label {
  horizontal-align: center;
  color: #FFFFFF;
  font-size: 16;
}
.sign-up-label {
  margin-bottom: 20;
}
.bold {
  color: #000000; 
}
